Implement peer connection management

Implement per-peer connection management supporting
- Adding peer connection configurations on the fly
- Withdrawing peer connections whenever a peer configuration is administratively removed
- Handle connection collission detection accordingly to  [RFC4271 Section 6.8](https://datatracker.ietf.org/doc/html/rfc4271#section-6.8) and [RFC4271 Section 8.2.1.2](https://datatracker.ietf.org/doc/html/rfc4271#section-8.2.1.2)